<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FreezeCasterGUI_v10.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <FreezeCasterGUI_v10.Properties.Settings>
            <setting name="MaxTemperature" serializeAs="String">
                <value>330</value>
            </setting>
            <setting name="PIDPeltierPSUPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PIDPeltierReadingsPort" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PIDPeltierMaxVoltage" serializeAs="String">
                <value>27.5</value>
            </setting>
            <setting name="PIDPeltierMaxCurrent" serializeAs="String">
                <value>14.5</value>
            </setting>
            <setting name="IsoTechPSUDefaultTrackMode" serializeAs="String">
                <value>Parallel</value>
            </setting>
        </FreezeCasterGUI_v10.Properties.Settings>
    </userSettings>
</configuration>
